    <main class="text-center">
        <div class="alert bg-white bg-opacity-75" role="alert">
            <h1 class="text-primary fw-bold fs-1"><i class="bi bi-exclamation-octagon"></i></h1>
        </div>
        <div class="container">
            <p>Hola, gracias por permitirme presentar mi prueba, los resultados del merge de arrays se pueden visualizar en la consola.</p>
            
                # Prueba consultor de Microservicios - SOAINT <br>
                Proyecto para realizar el merge de 2 array con valores duplicados<br>
                Premisas:<br>
                -	Escribe una función que tome los 2 array como argumento <br>
                -	Realiza el merge entre los 2 array eliminando de ella los valores duplicados<br>
                -	Ordena del Array resultante de forma ascendente<br>
                -	Retorna el Array resultante<br>
                
                
                Intrucciones para ejecutar el proyecto<br>
                
                1. Clonar el repositorio<br>
                
                        git clone <br>
                
                2. Descargar los modulos<br>
                
                        npm install <br>
                        
                3. El proyecto ya tiene configurado el host y puerto en el archivo .ENV, si se desea emplear un host o puerto diferente, se puede configurar en dicho archivo<br>
                
                        HOST = 'localhost                                                                                       <br>
                        PORT = '3000'   <br>
                        
                5. Inicializar el servidor<br>
                
                        npm run serve                                           <br>
                
                6. En caso de desear visualizar las instrucciones de ejecución en un navegor copie el siguiente link:<br>
                        
                        http://localhost:3000/merge                 <br>
                        
                7. para validar los escenarios puestos en la prueba pueden comentar las lineas dentro del archivo controlador.principal.js<br>
                    const array1 = [-10,22,333,42];                         <br>
                    const array2 = [-11,-10,5,22,41,42,333];                    <br>
                   y viceversa         <br>
            
        </div>
    </main>
    <footer class="container text-center">
        <p class="fw-bold">&copy; 2023 Aldair Moreno Pérez</p>
    </footer>
</body>
</html>